label{
  color: #fff;
}

#imageCapture {
    width:100%;
}

#imageDetail {
    width:100%;
}

.button-center
{
    text-align: center;
}

[data-role=footer]{
    bottom:0;
    position:absolute !important;
    top: auto !important;
    width:100%;
}

[data-role=page]{
    background-color: #444;
    height:50% !important;
}

[data-role=content]{
    background-color: #444;
    height:96% !important;
    max-width:100%;
}

#message{
   color: #ffffff;
}

#long{
   height: 50px !important;
   font-size: 13px;
    padding-right: 20px;
}

#lat{
    height: 50px !important;
    font-size: 13px;
}
