#imageCapture {
    width:100%;
}

#imageDetail {
    width:100%;
}

#swatches {
    width: 100%;
    height: 50px;
}

.swatch {
    width:18%;
    height: 50px;
    border-style:solid;
    border-width:thin;
    float: left;
    margin-right: 3px;
}

.button-center
{
    text-align: center;
}