@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    445 East Market St, Ste 200<br />
    Louisville, Ky 40202<br />
    <abbr title="Phone">P:</abbr>
    502.555.1337
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@GeoNote.com">Support@GeoNote.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@GeoNote.com">Marketing@GeoNote.com</a>
</address>